body {
  margin: 0;
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#container .left-list {
  background-color: #dee2e6;
}
#container span.icon-folder {
  background: url(../images/icon-folder.png) no-repeat;
}
#container span.icon-delete {
  background: url(../images/icon-delete.png) no-repeat;
  margin-right: 10px;
}
#container span.icon-file {
  background: url(../images/icon-file.png) no-repeat;
  margin-left: 20px;
}
#container span.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px 16px;
  vertical-align: middle;
}
#container span.hide {
  visibility: hidden;
}
#container .app-title {
  width: 100%;
  height: 60px;
  background-color: grey;
  line-height: 60px;
  padding-left: 30px;
  font-size: 1.5em;
}
#container .all-list {
  width: 100%;
  flex: 10;
  display: flex;
}
#container .all-list .column {
  flex: 1;
  padding-top: 10px;
  border: solid 1px grey;
}
#container .all-list .all-task,
#container .all-list .folders > div {
  padding-left: 10px;
  line-height: 30px;
}
#container .all-list .all-task:hover,
#container .all-list .folders > div:hover {
  background-color: #fff;
}
#container .all-list .all-task:hover span.hide,
#container .all-list .folders > div:hover span.hide {
  visibility: visible;
}
#container .all-list #todo-event {
  flex: 3;
}
